@using ASP.Server.Model

@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Liste Genre";
}

<div class="listeGenres">
    <h1>Liste des Genres:</h1>
    @foreach (var genre in Model)
    {
        <h2>@genre.GenreLitteraire</h2>
        <ul>
            @foreach (var book in genre.Books)
            {
                <li>@book.Nom</li>
            }
        </ul>
    }
</div>


